In [1]:
import pandas as pd
df = pd.read_csv('Authors_with_papers.csv')
df.head()

,Author,Num of Papers,DOIs
0,Xun Xu,149,"['10.1101/2020.07.17.20155150', '10.1101/2020...."
1,Wei Li,148,"['10.1101/2020.08.21.20177246', '10.1101/2020...."
2,Jian Wang,146,"['10.1101/2020.07.17.20155150', '10.1101/2020...."
3,Kenneth Baillie,141,"['10.1101/2020.09.24.20200048', '10.1101/2020...."
4,Yan Li,138,"['10.1101/2020.09.28.20203455', '10.1101/2020...."

In [2]:
df1 = pd.read_csv("countries of the world.csv")
df['Author'].head()

0             Xun Xu
1             Wei Li
2          Jian Wang
3    Kenneth Baillie
4             Yan Li
Name: Author, dtype: object

In [3]:
covid_auth_df = pd.read_csv('covid-19_authors.csv')
covid_auth_df.head()

               Author                                        Institution
0   Sasank Vemulapati                               Hermes Life Sciences
1      Adele M Taylor                        The University of Edinburgh
2          Tom C Russ                            University of Edinburgh
3  Mahbubunnabi Tamal  Imam Abdulrahman Bin Faisal University, Dammam...
4     David A Edwards                                      Sensory Cloud

In [33]:
covid_paper_df = pd.read_csv('covid-19_research.csv')
covid_paper_df.set_index("Date", inplace=True)

new_df = pd.DataFrame(index=covid_paper_df.index.drop_duplicates(keep='first'))

new_df['count']=pd.Series(covid_paper_df['Title'].groupby(covid_paper_df.index).count())

In [37]:
# new_df.index.drop_duplicates(keep='first')
new_df.sort_index(inplace=True)
new_df.head()

            count
Date
2019-09-25      1
2020-01-13      1
2020-01-19      1
2020-01-21      1
2020-01-22      1